<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rishid</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
</head>
<body>
    <section class="hero">
        <div class="hero-body">
        <div class="container">
            <h4 class="title is-4">Hello world!</h4>
            <p class="subtitle">Django, Celery, Redis, Docker example</p>
        </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <p>Task with {{ task_id }} started.</p>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <a class="button is-medium" href="{% url 'myapp:status' %}">Check status</a>
        </div>
    </section>
</body>
</html>
